$primary_900: #10197a;
$primary_800: #1a2793;
$primary_700: #2a3bb7;
$primary_600: #3d53db;
$primary_500: #546fff;
$primary_400: #7e95ff;
$primary_300: #98abff;
$primary_200: #bac8ff;
$primary_100: #dce4ff;
$primary_0: #ffffff;
$success_900: #3b6506;
$success_800: #4c7a0b;
$success_700: #659711;
$success_600: #7fb519;
$success_500: #9cd323;
$success_400: #bce455;
$success_300: #d3f178;
$success_200: #e8faa6;
$success_100: #f5fcd2;
$error_900: #7a0619;
$error_800: #930b16;
$error_700: #b71112;
$error_600: #db2719;
$error_500: #ff4423;
$error_400: #ff7f59;
$error_300: #ffa37a;
$error_200: #ffc8a6;
$error_100: #ffe7d3;
$warning_900: #7a4d0b;
$warning_800: #936312;
$warning_700: #b7821d;
$warning_600: #dba32a;
$warning_500: #ffc73a;
$warning_400: #ffd96b;
$warning_300: #ffe488;
$warning_200: #ffefb0;
$warning_100: #fff8d7;
$information_900: #102e7a;
$information_800: #1a4393;
$information_700: #2a60b7;
$information_600: #3d81db;
$information_500: #54a6ff;
$information_400: #7ec2ff;
$information_300: #98d3ff;
$information_200: #bae5ff;
$information_100: #dcf3ff;
$secondary_900: #030410;
$secondary_800: #060713;
$secondary_700: #0a0a18;
$secondary_600: #0e0f1d;
$secondary_500: #141522;
$secondary_400: #54577a;
$secondary_300: #8e92bc;
$secondary_200: #c2c6e8;
$secondary_100: #dfe1f3;
